name: Build docs

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - docs
  workflow_dispatch:

jobs:

  build-and-upload-artifact:
    name: ${{ matrix.platform }} py${{ matrix.python }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python: [3.9]
    steps:
      - uses: actions/checkout@v2

      - uses: tlambert03/setup-qt-libs@v1

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install 'setuptools<50.0'
          python -m pip install .[all,testing,docs]

      - name: Get data
        working-directory: doc/examples
        run: |
          if [[ ! -f schizonts/schizont4_UninfRBC1_01.tif ]]; then
            wget -q -O s.zip https://osf.io/7vyx3/download && unzip s.zip;
          fi

      - name: Build docs
        uses: GabrielBB/xvfb-action@v1
        with:
          working-directory: doc
          run: make html

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: docs
          path: doc/_build/html

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            doc/schizonts
          key: full-data
